<ion-fab margin vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="add()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
        </ion-buttons>
        <ion-title>Clients</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid no-padding>

        <ion-row no-padding>
            <ion-col no-padding [sizeXs]="12" [sizeMd]="3" class="shadow">
                <!--                <ion-item lines="none">-->
                <ion-searchbar margin-top debounce="500" placeholder="Search Clients" [(ngModel)]="searchTerm"
                               (ionChange)="filterClients($event)"
                               (ionClear)="cancelSearch()" (ionCancel)="emptySearch()">

                </ion-searchbar>
                <div class="fixed-height">
                    <ion-item padding-start no-padding margin-bottom *ngFor="let client of filteredClients"
                              (click)="details(client)">
                        <ion-avatar slot="start"
                                    [ngStyle]="{'background-color': client.avatarBackground, 'color': client.avatarText}">
                            {{client.initials}}
                        </ion-avatar>
                        <ion-label>
                            <h2>{{client.name}}</h2>
                            <p>{{client.email}}</p>
                        </ion-label>
                        <ion-icon slot="end" name="arrow-forward" mode="ios"></ion-icon>
                    </ion-item>
                </div>


            </ion-col>
            <ion-col no-padding class="full-screen-mobile">
                <agm-map (boundsChange)="boundsChange($event)" [latitude]="defaultLat" [longitude]="defaultLng">
                    <agm-marker *ngFor="let client of  filteredClients"
                                [latitude]="client.lat" [longitude]="client.lng"
                    >
                        <agm-info-window>
                            <ion-item>
                                <ion-label> {{client.name}} {{client.lastName}}</ion-label>
                                <ion-button (click)="copied(client.lastName +' ' + client.name)">
                                    <ion-icon name="copy"></ion-icon>
                                </ion-button>
                            </ion-item>
                            <ion-item>
                                <ion-label> {{client.email}} </ion-label>
                                <ion-button (click)="copied(client.email)">
                                    <ion-icon name="copy"></ion-icon>
                                </ion-button>
                            </ion-item>
                            <ion-item>
                                <ion-label> {{client.phone}} </ion-label>
                                <ion-button slot="end" (click)="copied(client.phone)">
                                    <ion-icon name="copy"></ion-icon>
                                </ion-button>
                            </ion-item>
                        </agm-info-window>
                    </agm-marker>
                </agm-map>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
